body {
	background-color: white;	
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

#contact {
	padding-top: 20px;
	background-color: white;
}

.footer {
	padding-bottom: 0px;
	margin-bottom: 0;
	border: 0;
	float: none;
	text-align: center;
}

#avatar {
	float: right;
}

.navigation {
	margin-left: 400px;
	font-size: 16px;
}

.row {
	padding-top: 10px;
}

.github {
	padding-top: 15px;
	padding-bottom: 5px;
}

#project {
	background-color: white;
}

.jumbotron {
	text-align: center;
}

.intro {
	text-align: left;
}

.thumbnail {
	width: 300px;
	padding: 0;
	margin: 0;
}

.row > a > img {
	padding-right: 20px;
}

.demo {
	text-decoration: bold;
}

a {
	text-decoration: none;
}

.container {
	width: 940px;
}
